.Character {
    border-style: dotted;
    border-color: rgb(140, 210, 251);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Character img {
    margin: 0 auto;
    width: 85%;
}

.Character a {
    text-decoration: none;
    margin-bottom: 1rem;
    color:azure;
    font-weight: bolder;
}

.Character a:hover {
    color:cornflowerblue;
}